# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # routing and session configuration.
    router.request_context.host: localhost
    router.request_context.scheme: http
    router.request_context.base_url: /lom/web/app_dev.php
    secure_cookies: false

    # LOCKSSOMatic configuration
    lom.download_dir: data/download
    lom.hash_methods: [ 'SHA1', 'MD5' ]

    # IPs that are allowed to access LOCKSS configs, in addition to the boxes.
    # IPs and CIDRs are allowed, in both v4 and v6. These IPs are allowed to 
    # access the LOCKSS configs for any network.
    lom.allowed_ips:
        - 127.0.0.1
        - ::1
        - 10.0.0.0/8

    # Number of AUs to include in a titledb.xml file.
    lom.aus_per_titledb: 50

    # When boxes are unreachable LOM can send a notice to the box manager. These
    # settings configure the message.
    lom.boxstatus.subject: 'LOCKSSOMatic Box Status'
    lom.boxstatus.sender: noreply@example.com
    lom.boxstatus.helpcontact: lom@example.com
