{% extends '::base.html.twig' %}

{% block title %}
    Test Client
{% endblock %}

{% block body %}
    <form id="config" action="" >
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="method" >Method</label>
                <select name="method" class="form-control">
                    <option value="">Method</option>
                    <option>GET</option>
                    <option>PUT</option>
                    <option>POST</option>
                    <option>DELETE</option>
                    <option>HEAD</option>
                </select>
            </div>
            <div class="form-group col-sm-8">
                <label for="url" >URL</label>
                <select name="url" class="form-control">
                    <option value="">Endpoint</option>
                    {% for url in urls %}
                        <option>{{ url }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="parameters">Parameters</label>
            <textarea rows="4" name="parameters" class="form-control"></textarea>
            <span class="help-block">Enter request parameters as name=value, one per line.</span>
        </div>
        <div class="form-group">
            <label for="parameters">Body</label>
            <textarea rows="4" name="body" class="form-control"></textarea>
            <span class="help-block">Any additional data to send.</span>
        </div>
        <button type="submit" class="btn btn-primary" id="send">Submit</button>
    </form>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var $form = $("#config");
        $('#config').on('keydown', function(e){
            if(e.metaKey && e.keyCode === 13) {
                $(this).submit();
            }
        });
        $('#config').submit(function(e) {
            // do the ajax stuff here.
            // append the results somewhere.
        });
    </script>
{% endblock %}