{% extends '::base.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block pageheader %}
    <h1>LOCKSSOMatic</h1>
{% endblock %}

{% block body %}
    Content
    Service Document: {{ url('sword_service_document') }}
{% endblock %}
